@charset "UTF-8"; 

body{
     background-color: #778899;
     
     
     }
     
#ingredient{
     border: 2px solid lightcoral;
     border-collapse: collapse;
}

th,td{
     border: 1px solid lightcorl;
}
    
     
