@charset "UTF-8"; 

body{
     background-color: #778899;
     
     
     }
     
#ingredient{
     border: 2px solid lightcoral;
     
}

th{
     border: 1px solid lightcorl;
      background-color: #dc143c;
     padding:6px;
     width:250px;
    text-align: center;
}
td{
     border:1px solid lightcoral;
     padding:5px;
     width:400px;
     text-align:right;
}
.btn
{
     -webkit-appearance:none;
     margin:5px;
     height:50px;
     width:120px;
}
     
