@charset "UTF-8"; 

body{
     background-color: #778899;
     
     
     }
     
#ingredient{
     border: 2px solid lightcoral;
     
}

th{
     border: 1px solid lightcorl;
      background-color: #dc143c;
    　text-align: center;
}
    
     
